In [1]:
import pandas as pd

# Read unzipped CSVs

In [2]:
# codes for each file-type and list of years used

filecodes = ['B02001', 'S0101', 'S1401', 'S1501', 'S1601', 'S1901',
             'S1902', 'S1903', 'S2001', 'S2101', 'S2201', 'S2301']

years = [12, 13, 14, 15, 16]

In [3]:
def reader(filecodes, years):
    
    '''
    read all the csv's to their own dataframes
    
    return a list of n*m dataframes... wow
    '''
    
    df_list = []
    
    for year in years:
                
        for filecode in filecodes:
            
            df_list.append(
                pd.read_csv(
                '/home/nate/ds/metis/class_work/projects/raw_data/acs{}/ACS_{}_1YR_{}_with_ann.csv'
                .format(year, year, filecode)))
        
            
    return df_list

In [4]:
# list of all 60 dataframes and check len

df_list = reader(filecodes, years)

len(df_list)

60

# Clean-up Columns

In [5]:
def remake_ids(df_list):
    
    '''
    all dataframes start with col_names in zero-th row and two id cols 
    
    remove these
    '''
    
    no_ids = []

    for df in df_list:

        df.columns = df.iloc[0]

        df = df.drop(0).reset_index()

        df = df.drop(df.columns[0:3], axis=1)
        
        no_ids.append(df)
        
    return no_ids

In [6]:
no_ids = remake_ids(df_list)

In [7]:
len(no_ids)

60

In [37]:
df = no_ids[9]

df

,Geography,Total; Estimate; Civilian population 18 years and over,Total; Margin of Error; Civilian population 18 years and over,Veterans; Estimate; Civilian population 18 years and over,Veterans; Margin of Error; Civilian population 18 years and over,Nonveterans; Estimate; Civilian population 18 years and over,Nonveterans; Margin of Error; Civilian population 18 years and over,Total; Estimate; PERIOD OF SERVICE - Gulf War (9/2001 or later) veterans,Total; Margin of Error; PERIOD OF SERVICE - Gulf War (9/2001 or later) veterans,Veterans; Estimate; PERIOD OF SERVICE - Gulf War (9/2001 or later) veterans,...,Veterans; Estimate; PERCENT IMPUTED - Veteran status for the population 18 years and over,Veterans; Margin of Error; PERCENT IMPUTED - Veteran status for the population 18 years and over,Nonveterans; Estimate; PERCENT IMPUTED - Veteran status for the population 18 years and over,Nonveterans; Margin of Error; PERCENT IMPUTED - Veteran status for the population 18 years and over,Total; Estimate; PERCENT IMPUTED - Period of service for the civilian veteran population 18 years and over,Total; Margin of Error; PERCENT IMPUTED - Period of service for the civilian veteran population 18 years and over,Veterans; Estimate; PERCENT IMPUTED - Period of service for the civilian veteran population 18 years and over,Veterans; Margin of Error; PERCENT IMPUTED - Period of service for the civilian veteran population 18 years and over,Nonveterans; Estimate; PERCENT IMPUTED - Period of service for the civilian veteran population 18 years and over,Nonveterans; Margin of Error; PERCENT IMPUTED - Period of service for the civilian veteran population 18 years and over
0,United States,239178768,30500,21230865,57501,217947903,61992,(X),(X),12.9,...,(X),(X),(X),(X),7.2,(X),(X),(X),(X),(X)
1,Alabama,3683815,2646,384946,7698,3298869,8134,(X),(X),14.9,...,(X),(X),(X),(X),8.4,(X),(X),(X),(X),(X)
2,Alaska,528429,1591,71831,3398,456598,3866,(X),(X),26.4,...,(X),(X),(X),(X),6.2,(X),(X),(X),(X),(X)
3,Arizona,4915131,1897,526292,9682,4388839,9828,(X),(X),12.0,...,(X),(X),(X),(X),7.4,(X),(X),(X),(X),(X)
4,Arkansas,2232468,2121,231680,6855,2000788,7133,(X),(X),13.2,...,(X),(X),(X),(X),6.9,(X),(X),(X),(X),(X)
5,California,28663319,6169,1857748,16017,26805571,18433,(X),(X),12.8,...,(X),(X),(X),(X),7.4,(X),(X),(X),(X),(X)
6,Colorado,3923756,2974,406624,7745,3517132,8484,(X),(X),17.4,...,(X),(X),(X),(X),7.6,(X),(X),(X),(X),(X)
7,Connecticut,2789272,1618,216095,5737,2573177,6007,(X),(X),7.6,...,(X),(X),(X),(X),7.1,(X),(X),(X),(X),(X)
8,Delaware,709551,813,76387,3980,633164,3888,(X),(X),14.7,...,(X),(X),(X),(X),6.3,(X),(X),(X),(X),(X)
9,District of Columbia,519476,919,31288,2347,488188,2375,(X),(X),17.4,...,(X),(X),(X),(X),12.2,(X),(X),(X),(X),(X)
10,Florida,15264844,4564,1559672,19500,13705172,20280,(X),(X),11.0,...,(X),(X),(X),(X),8.9,(X),(X),(X),(X),(X)
11,Georgia,7372727,5187,700992,13335,6671735,14428,(X),(X),15.7,...,(X),(X),(X),(X),8.9,(X),(X),(X),(X),(X)
12,Hawaii,1051883,2616,116885,3989,934998,4486,(X),(X),27.3,...,(X),(X),(X),(X),8.1,(X),(X),(X),(X),(X)
13,Idaho,1168256,1398,123594,5156,1044662,5126,(X),(X),10.7,...,(X),(X),(X),(X),6.1,(X),(X),(X),(X),(X)
14,Illinois,9795470,2577,731089,10361,9064381,10554,(X),(X),11.7,...,(X),(X),(X),(X),7.1,(X),(X),(X),(X),(X)
15,Indiana,4944218,3052,452828,7339,4491390,7610,(X),(X),10.4,...,(X),(X),(X),(X),6.8,(X),(X),(X),(X),(X)
16,Iowa,2349788,2359,227141,4537,2122647,5526,(X),(X),11.1,...,(X),(X),(X),(X),6.1,(X),(X),(X),(X),(X)
17,Kansas,2145653,3068,214510,5773,1931143,6498,(X),(X),14.5,...,(X),(X),(X),(X),5.5,(X),(X),(X),(X),(X)
18,Kentucky,3345524,2483,315455,6626,3030069,7160,(X),(X),12.5,...,(X),(X),(X),(X),6.5,(X),(X),(X),(X),(X)
19,Louisiana,3467978,2447,308951,6510,3159027,6858,(X),(X),14.7,...,(X),(X),(X),(X),7.6,(X),(X),(X),(X),(X)
20,Maine,1062141,1337,123277,4100,938864,4249,(X),(X),9.2,...,(X),(X),(X),(X),4.7,(X),(X),(X),(X),(X)
21,Maryland,4513635,2408,436361,9338,4077274,9361,(X),(X),17.6,...,(X),(X),(X),(X),7.9,(X),(X),(X),(X),(X)
22,Massachusetts,5240927,1422,381711,7040,4859216,7187,(X),(X),8.7,...,(X),(X),(X),(X),7.1,(X),(X),(X),(X),(X)
23,Michigan,7612370,2633,662883,7608,6949487,7784,(X),(X),7.7,...,(X),(X),(X),(X),6.8,(X),(X),(X),(X),(X)
24,Minnesota,4098333,1814,367018,6275,3731315,6498,(X),(X),9.8,...,(X),(X),(X),(X),5.7,(X),(X),(X),(X),(X)
25,Mississippi,2226363,2148,202388,5919,2023975,6086,(X),(X),15.1,...,(X),(X),(X),(X),8.1,(X),(X),(X),(X),(X)
26,Missouri,4598394,3228,478706,8345,4119688,8661,(X),(X),10.5,...,(X),(X),(X),(X),7.2,(X),(X),(X),(X),(X)
27,Montana,781686,1622,99396,3616,682290,3868,(X),(X),11.1,...,(X),(X),(X),(X),5.9,(X),(X),(X),(X),(X)
28,Nebraska,1387492,1523,144147,4223,1243345,4513,(X),(X),16.0,...,(X),(X),(X),(X),5.6,(X),(X),(X),(X),(X)
29,Nevada,2085544,1789,228936,6651,1856608,6640,(X),(X),13.1,...,(X),(X),(X),(X),6.8,(X),(X),(X),(X),(X)
30,New Hampshire,1044195,1476,110374,3961,933821,4298,(X),(X),10.4,...,(X),(X),(X),(X),6.2,(X),(X),(X),(X),(X)
31,New Jersey,6830487,1599,433765,8960,6396722,9475,(X),(X),9.6,...,(X),(X),(X),(X),8.3,(X),(X),(X),(X),(X)
32,New Mexico,1561375,1990,178510,5786,1382865,6166,(X),(X),14.0,...,(X),(X),(X),(X),7.0,(X),(X),(X),(X),(X)
33,New York,15284210,3264,885364,11478,14398846,11330,(X),(X),9.6,...,(X),(X),(X),(X),7.7,(X),(X),(X),(X),(X)
34,North Carolina,7383857,4199,720491,12412,6663366,12713,(X),(X),14.3,...,(X),(X),(X),(X),6.8,(X),(X),(X),(X),(X)
35,North Dakota,540213,1209,56770,2676,483443,2723,(X),(X),21.0,...,(X),(X),(X),(X),5.7,(X),(X),(X),(X),(X)
36,Ohio,8876493,2925,850730,11462,8025763,11949,(X),(X),9.5,...,(X),(X),(X),(X),6.4,(X),(X),(X),(X),(X)
37,Oklahoma,2859530,1965,320177,6280,2539353,6293,(X),(X),14.4,...,(X),(X),(X),(X),7.0,(X),(X),(X),(X),(X)
38,Oregon,3036050,1705,325534,7627,2710516,7955,(X),(X),9.3,...,(X),(X),(X),(X),6.6,(X),(X),(X),(X),(X)
39,Pennsylvania,10019703,1991,929094,11191,9090609,11116,(X),(X),8.8,...,(X),(X),(X),(X),7.1,(X),(X),(X),(X),(X)
40,Rhode Island,830726,816,70375,3449,760351,3590,(X),(X),10.6,...,(X),(X),(X),(X),7.3,(X),(X),(X),(X),(X)
41,South Carolina,3609405,3195,394220,9256,3215185,9937,(X),(X),15.2,...,(X),(X),(X),(X),8.3,(X),(X),(X),(X),(X)
42,South Dakota,626965,1220,68770,3379,558195,3798,(X),(X),14.4,...,(X),(X),(X),(X),6.6,(X),(X),(X),(X),(X)
43,Tennessee,4944681,3403,475375,9118,4469306,9449,(X),(X),12.6,...,(X),(X),(X),(X),7.1,(X),(X),(X),(X),(X)
44,Texas,18982973,5742,1607667,15329,17375306,15248,(X),(X),17.3,...,(X),(X),(X),(X),6.6,(X),(X),(X),(X),(X)
45,Utah,1964059,1424,145078,4593,1818981,4646,(X),(X),17.7,...,(X),(X),(X),(X),5.5,(X),(X),(X),(X),(X)
46,Vermont,501611,933,48068,2258,453543,2266,(X),(X),10.2,...,(X),(X),(X),(X),7.4,(X),(X),(X),(X),(X)
47,Virginia,6221883,4950,728143,10814,5493740,11567,(X),(X),23.5,...,(X),(X),(X),(X),6.7,(X),(X),(X),(X),(X)
48,Washington,5266221,3348,587266,9259,4678955,9614,(X),(X),14.5,...,(X),(X),(X),(X),6.1,(X),(X),(X),(X),(X)
49,West Virginia,1470678,1266,163134,4916,1307544,4856,(X),(X),10.6,...,(X),(X),(X),(X),7.5,(X),(X),(X),(X),(X)
50,Wisconsin,4407746,2006,404801,6964,4002945,6998,(X),(X),9.9,...,(X),(X),(X),(X),6.0,(X),(X),(X),(X),(X)
51,Wyoming,437264,1413,48328,3034,388936,3354,(X),(X),14.2,...,(X),(X),(X),(X),7.2,(X),(X),(X),(X),(X)
52,Puerto Rico,2816941,452,106574,4349,2710367,4436,(X),(X),11.2,...,(X),(X),(X),(X),9.1,(X),(X),(X),(X),(X)

# Clean-up by Filecodes and Re-name Columns

In [38]:
def file_cleaner(df_list):
    
    '''
    takes the list of df's
    
    9 per year, 5 years, down to 45 from 60
    
    cleans according to filetype, returns list of clean dfs
    
    PRE-MVP: down to 25 dfs, 5 per year, single variable per df
    '''
    
    clean_dfs = []
    
    for i, df in enumerate(df_list):
        
        # for 0 (race)
###### just white ratio for now, come back after MVP
        if i%12==0:
            df = df.drop(df.columns[2::2], axis=1)
            df = df.drop(df.columns[9:], axis=1)
#             df.columns = ['geo', 'total', 'white', 'black', 'american_indian',
#                           'asian', 'native_hawaiian', 'two_plus']
            df = df.drop(df.columns[3:], axis=1)
            x = []
            j=0
            for row in df.iterrows():
                x.append(float(df.iloc[j][2]) / (float(df.iloc[j][1])))
                j+=1
            x = pd.Series(x)   
            df = df[['Geography']]
            df['white_ratio'] = x
            df.columns = ['geography', 'white_ratio']        
            clean_dfs.append(df)
            
        # for 1 (age+sex)
###### just sex for now, come back after MVP
        elif i%12==1:
            df = df[['Geography', 'Male; Estimate; Total population', 'Female; Estimate; Total population']]
#             df = df.drop(df.columns[2::2], axis=1)
#             df = df.drop(df.columns[5::3], axis=1)
#             df = df.drop(df.columns[5::2], axis=1)
#             df = df.drop(df.columns[22:], axis=1)
            x = []
            j=0
            for row in df.iterrows():
                x.append(float(df.iloc[j][2]) / (float(df.iloc[j][1]) + float(df.iloc[j][2])))
                j+=1
            x = pd.Series(x)   
            df = df[['Geography']]
            df['female_ratio'] = x
            df.columns = ['geography', 'female_ratio']
            clean_dfs.append(df)
            
        # for 2 (school enrollment)
###### come back after MVP
        elif i%12==2:
            pass
#             cols = [col for col in df.columns if col[:24] == 'Total; Estimate; Percent']
#             df = pd.concat([df['Geography'], df[cols]], axis=1)
        
        # for 3 (highest education)
        elif i%12==3:
            try:
                df = df[['Geography', "Total; Estimate; Associate's degree", 
                         "Total; Estimate; Bachelor's degree", "Total; Estimate; Graduate or professional degree"]]
                x = []
                j=0
                for row in df.iterrows():
                    x.append((float(df.iloc[j][1]) + float(df.iloc[j][2]) + float(df.iloc[j][3]))/100)
                    j+=1
                x = pd.Series(x)   
                df = df[['Geography']]
                df['college_ratio'] = x
                df.columns = ['geography', 'college_ratio']
                clean_dfs.append(df)
            except:
                df = df[['Geography', 'Total; Estimate; Population 25 years and over',
                         "Total; Estimate; Population 25 years and over - Associate's degree",
                         "Total; Estimate; Population 25 years and over - Bachelor's degree",
                         'Total; Estimate; Population 25 years and over - Graduate or professional degree']]
                x = []
                j=0
                for row in df.iterrows():
                    x.append((float(df.iloc[j][2]) + float(df.iloc[j][3]) + float(df.iloc[j][4]))
                             /float(df.iloc[j][1]))
                    j+=1
                x = pd.Series(x)   
                df = df[['Geography']]
                df['college_ratio'] = x
                df.columns = ['geography', 'college_ratio']
                clean_dfs.append(df)
            
        # for 4 (home lang)
        elif i%12==4:
            if i<40:
                df = df[['Geography', 'Total; Estimate; Speak only English']]
                eng = []
                for i, row in df.iterrows():
                    eng.append(float(df.iloc[i][1])/100)
                df = df[['Geography']]
                df['eng'] = eng
                df.columns = ['geography', 'eng_ratio']
                clean_dfs.append(df)
            else:
                df = df[['Geography', 'Total; Estimate; Population 5 years and over',
                         'Total; Estimate; Speak only English']]
                eng = []
                for i, row in df.iterrows():
                    eng.append(float(df.iloc[i][2])/float(df.iloc[i][1]))
                df = df[['Geography']]
                df['eng'] = eng
                df.columns = ['geography', 'eng_ratio']
                clean_dfs.append(df)
            
        # for 5 (Income)
###### come back after MVP                         
        # info for i%12== 6, 7, 8 was found in i%12==5    
        elif i%12==5:
            df = df.drop(df.columns[2::2], axis=1)
            df = df.drop(df.columns[53:], axis=1)
            df = df.drop(df.columns[1:45], axis=1)
            df = df.drop(df.columns[5:], axis=1)
            df.columns = ['geography', 'household_median', 'family_median', 'married_median', 'nonfamily_median']
            clean_dfs.append(df)
            
        elif i%12==6:
            pass
        elif i%12==7:
            pass
        elif i%12==8:
            pass
            
        # for 9 (veteran status)
####### come back after MVP
        elif i%12==9:
#             pass
            df = df[['Geography', 'Total; Estimate; Civilian population 18 years and over',
                     'Veterans; Estimate; Civilian population 18 years and over']]
            x = []
            m=0
            for row in df.iterrows():
                x.append(float(df.iloc[m][2]) / float(df.iloc[m][1]))
                m+=1
            x = pd.Series(x)   
            df = df[['Geography']]
            df['veteran_ratio'] = x
            df.columns = ['geography', 'veteran_ratio']
            clean_dfs.append(df)
            
        # for 10 (food stamps)
###### come back after MVP
        elif i%12==10:  
            pass
#             try:
#                 df = df[['Geography', 'Total; Estimate; Households',
#                          'Households receiving food stamps; Estimate; Households']]
#             except:
#                 df = df[['Geography', 'Total; Estimate; Households',
#                          'Households receiving food stamps/SNAP; Estimate; Households']]
#             x = []
#             n=0
#             for row in df.iterrows():
#                 x.append(float(df.iloc[n][1]) / float(df.iloc[n][2]))
#                 n+=1
#             x = pd.Series(x)   
#             df = df[['Geography']]
#             df['food_stamps'] = x
#             df.columns = ['geography', 'food_stamps']
            
        # for 11 (employment status)    
        else:
            df = df[['Geography', 'Unemployment rate; Estimate; Population 16 years and over']]
            emp = []
            for i, row in df.iterrows():
                emp.append(float(df.iloc[i][1])/100)
            df = df[['Geography']]
            df['emp'] = emp
            df.columns = ['geography', 'unemployment']
            clean_dfs.append(df)
        
    return clean_dfs

In [39]:
clean_dfs = file_cleaner(no_ids)

# Concat dfs by Year

In [40]:
def years(df_list):
    
    '''
    initialize 5 dfs, one for each year
    
    also add col with year
    '''
    
    list_12 = []
    list_13 = []
    list_14 = []
    list_15 = []
    list_16 = []
    
    num_df = len(df_list)/5
    
    for i, df in enumerate(df_list):
        
        if i < num_df:
            list_12.append(df)
        
        elif i < num_df*2:
            list_13.append(df)
            
        elif i < num_df*3:
            list_14.append(df)
            
        elif i < num_df*4:
            list_15.append(df)
            
        elif i < num_df*5:
            list_16.append(df)
            
    
    df_12 = pd.concat([df for df in list_12], axis=1)
    df_12 = df_12.T.drop_duplicates().T
    df_12['year'] = 12
    
    df_13 = pd.concat([df for df in list_13], axis=1)
    df_13 = df_13.T.drop_duplicates().T
    df_13['year'] = 13
    
    df_14 = pd.concat([df for df in list_14], axis=1)
    df_14 = df_14.T.drop_duplicates().T
    df_14['year'] = 14
    
    df_15 = pd.concat([df for df in list_15], axis=1)
    df_15 = df_15.T.drop_duplicates().T
    df_15['year'] = 15
    
    df_16 = pd.concat([df for df in list_16], axis=1)
    df_16 = df_16.T.drop_duplicates().T
    df_16['year'] = 16
    
            
    return df_12, df_13, df_14, df_15, df_16

In [41]:
df_12, df_13, df_14, df_15, df_16 = years(clean_dfs)

In [42]:
df_12.to_csv('/home/nate/ds/metis/class_work/projects/clean_data/df_12.csv')
df_13.to_csv('/home/nate/ds/metis/class_work/projects/clean_data/df_13.csv')
df_14.to_csv('/home/nate/ds/metis/class_work/projects/clean_data/df_14.csv')
df_15.to_csv('/home/nate/ds/metis/class_work/projects/clean_data/df_15.csv')
df_16.to_csv('/home/nate/ds/metis/class_work/projects/clean_data/df_16.csv')