In [1]:
import pandas as pd

# Read unzipped CSVs

In [2]:
# codes for each file-type and list of years used

filecodes = ['B02001', 'S0101', 'S1401', 'S1501', 'S1601', 'S1901',
             'S1902', 'S1903', 'S2001', 'S2101', 'S2201', 'S2301']

years = [12, 13, 14, 15, 16]

In [3]:
def reader(filecodes, years):
    
    '''
    read all the csv's to their own dataframes
    
    return a list of n*m dataframes... wow
    '''
    
    df_list = []
    
    for year in years:
                
        for filecode in filecodes:
            
            df_list.append(
                pd.read_csv(
                '/home/nate/ds/metis/class_work/projects/raw_data/acs{}/ACS_{}_1YR_{}_with_ann.csv'
                .format(year, year, filecode)))
        
            
    return df_list

In [4]:
# list of all 60 dataframes and check len

df_list = reader(filecodes, years)

len(df_list)

60

# Clean-up Columns

In [5]:
def remake_ids(df_list):
    
    '''
    all dataframes start with col_names in zero-th row and two id cols 
    
    remove these
    '''
    
    no_ids = []

    for df in df_list:

        df.columns = df.iloc[0]

        df = df.drop(0).reset_index()

        df = df.drop(df.columns[0:3], axis=1)
        
        no_ids.append(df)
        
    return no_ids

In [6]:
no_ids = remake_ids(df_list)

In [7]:
len(no_ids)

60

## Clean-up by Filecodes

In [8]:
# for 0 (race)

df = no_ids[0]

df = df.drop(df.columns[2::2], axis=1)

In [9]:
# for 1 (age+sex)

df = no_ids[1]

df = df.drop(df.columns[2::2], axis=1)

df = df.drop(df.columns[5::3], axis=1)

df = df.drop(df.columns[5::2], axis=1)

df = df.drop(df.columns[22:], axis=1)

In [10]:
# for 2 (school enrollment)

df = no_ids[2]

cols = [col for col in df.columns if col[:24] == 'Total; Estimate; Percent']

df = pd.concat([df['Geography'], df[cols]], axis=1)

In [32]:
# for 3 (highest school)

df = no_ids[3]

geo = df['Geography']

df = df.drop(df.columns[0:37], axis=1)

df = df.drop(df.columns[1::2], axis=1)

df = df.drop(df.columns[18:], axis=1)

cols = [col for col in df.columns if col[:5] == 'Total']

df = pd.concat([geo, df[cols]], axis=1)

In [41]:
df = no_ids[3]

df = df[['Geography', "Total; Estimate; Associate's degree", "Total; Estimate; Bachelor's degree", "Total; Estimate; Graduate or professional degree"]]

df

,Geography,Total; Estimate; Associate's degree,Total; Estimate; Bachelor's degree,Total; Estimate; Graduate or professional degree
0,United States,8.0,18.2,10.9
1,Alabama,7.4,14.7,8.6
2,Alaska,8.2,17.1,10.9
3,Arizona,8.4,17.2,10.2
4,Arkansas,6.1,13.8,7.2
5,California,7.9,19.6,11.3
6,Colorado,8.4,23.8,13.7
7,Connecticut,7.4,20.5,16.6
8,Delaware,7.2,18.1,11.4
9,District of Columbia,3.2,23.0,30.0
10,Florida,9.2,17.3,9.6
11,Georgia,7.1,17.8,10.4
12,Hawaii,10.0,19.6,10.5
13,Idaho,9.0,17.3,8.2
14,Illinois,7.6,19.7,12.0
15,Indiana,8.1,15.0,8.4
16,Iowa,11.1,18.1,8.2
17,Kansas,8.0,19.5,10.9
18,Kentucky,7.2,12.9,8.9
19,Louisiana,5.3,14.4,7.5
20,Maine,9.1,18.1,9.8
21,Maryland,6.3,20.0,16.9
22,Massachusetts,7.6,22.2,17.1
23,Michigan,8.7,16.0,10.0
24,Minnesota,10.6,22.4,10.8
25,Mississippi,8.4,13.0,7.6
26,Missouri,7.1,16.7,9.7
27,Montana,8.4,20.2,9.2
28,Nebraska,9.8,19.3,9.7
29,Nevada,7.5,14.8,7.5
30,New Hampshire,9.5,21.9,12.6
31,New Jersey,6.2,22.5,13.8
32,New Mexico,8.2,14.9,11.2
33,New York,8.5,19.0,14.4
34,North Carolina,8.7,18.0,9.3
35,North Dakota,12.3,19.6,8.4
36,Ohio,8.1,16.0,9.3
37,Oklahoma,7.3,15.8,7.9
38,Oregon,8.2,18.6,11.3
39,Pennsylvania,7.9,17.0,10.9
40,Rhode Island,8.8,18.7,12.8
41,South Carolina,8.9,16.0,9.1
42,South Dakota,9.9,18.1,8.1
43,Tennessee,6.5,15.7,8.6
44,Texas,6.6,17.7,9.0
45,Utah,9.7,20.3,10.4
46,Vermont,9.0,21.9,13.9
47,Virginia,7.2,20.6,14.9
48,Washington,9.6,20.3,11.3
49,West Virginia,6.3,11.4,7.3
50,Wisconsin,10.0,17.9,9.3
51,Wyoming,10.0,16.9,7.8
52,Puerto Rico,9.0,17.6,6.6